/* Resets */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: normal;
}

#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {

  --softRed: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --darkBrown: hsl(25, 47%, 15%);
  --mediumBrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --paleOrange: hsl(33, 100%, 98%);
}

/* Utility classes */

.bg-soft-red {
  background-color: var(--softRed);
}

.color-soft-red {
  color: var(--softRed)
}

.bg-cyan {
  background-color: var(--cyan);
}

.color-cyan {
  color: var(--cyan)
}

.bg-dark-brown {
  background-color: var(--darkBrown);
}

.color-dark-brown {
  color: var(--darkBrown)
}

.bg-medium-brown {
  background-color: var(--mediumBrown);
}

.color-medium-brown {
  color: var(--mediumBrown)
}

.bg-cream {
  background-color: var(--cream);
}

.color-cream {
  color: var(--cream)
}

.bg-pale-orange {
  background-color: var(--paleOrange);
}

.color-pale-orange {
  color: var(--paleOrange)
}

.bg-white {
  background-color: white;
}

.color-white {
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fw-bold {
  font-weight: 700;
}

.container {
  margin: auto;
}

/* Custom Overrides */

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 15px
}

footer a {
  color: var(--softRed)
}

main {
  min-height: 100vh;
}

/* Media Queries */

@media (max-width : 767px) {

  .container {
    width: 340px;
  }

}

@media (min-width : 768px) {

  .container {
    width: 540px;
  }
}

@media (min-width : 992px) {}

@media (min-width : 1200px) {}